body{
    font-family: sans-serif;
    background-color: black;
}

.menu-item {
    width: 250px;
    height: 50px;
    border: 1px solid gray;
    list-style-type: none;
    padding: 5px;
    background-color:white;
}

.container {
  display: flex;
}

.hover {
    background: gold
}

.selected{
    background: grey;
}

